*{
    padding: 0;
    margin: 0;
}
.end{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
}
.about{
    font-family: 'Island Moments', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    font-style: bold;
    letter-spacing: 3px;
}
.aboutdes{
    font-family: 'Island Moments', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    color: white;
    text-indent: 50px;
    /* padding-bottom: 50px; */
    padding-top: 10px;
    text-align: left;
}
.boxmodel
{
    width: 100px;
    height: 100px;
    font-family: 'Island Moments', cursive;
    font-family: 'Roboto', sans-serif;
    padding-left: 750px;
    padding-bottom: 100px;
    margin-top: 0px;
    margin-bottom: 100px;
    color: white;
}
.input{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.follow{
    font-family: 'Island Moments', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    padding-left: 1100px;
    padding-bottom: 10px;
    font-style: bold;
    letter-spacing: 3px;
}